@model IEnumerable<NewLifeThriftShop.Models.Product>

@{
    ViewData["Title"] = "ViewCatalog";
}

<section class="section-products">
		<div class="container">
				<div class="row justify-content-center text-center">
						<div class="col-md-8 col-lg-6">
								<div class="header">
										<h3>Find Your Favourite Item</h3>
										<h2>Popular Products</h2>
								</div>
						</div>
				</div>
				<div class="row">
						@foreach (var item in Model) {
							var key = String.IsNullOrEmpty(item.ImgExt) ? "resized-image-unavailable.png" : "resized-"+item.ProductId.ToString()+item.ImgExt;
							 string link = "https://newlifethriftshops3bucket-resized.s3.us-east-1.amazonaws.com/" + key;
							<div class="col-md-6 col-lg-4 col-xl-3">
									<div id="product-1" class="single-product">
											<div class="part-1" style="--product-background: url(@link) no-repeat center;">
													<ul>
															<li>
																	<form method="post">
																		<button asp-controller="CartItems" asp-action="Create" asp-route-productId="@item.ProductId">
																			<i class="fas fa-shopping-cart"></i>
																		</button>																		
																	</form>
															</li>
													</ul>
											</div>
											<div class="part-2">
													<h3 class="product-title">@Html.DisplayFor(modelItem => item.ProductName)</h3>
													<h4 class="product-price">@Html.DisplayFor(modelItem => item.Price)</h4>
													<h3 class="product-price">@Html.DisplayFor(modelItem => item.Quantity) left</h3>
											</div>
									</div>
							</div>
						}
				</div>
		</div>
</section>